* {
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #212127;
	color: #e6e6e6;
}

section {
	width: 100%;
	height: 100vh;
}

/* LANDING */
#landing {
	display: grid;
}

.landing--one {
	font-size: 52px;
	justify-self: center;
	align-self: center;
}

.landing--name {
	position: relative;
	color: rgb(255, 204, 0);
}

.landing--name::after {
	content: '';
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	border-left: 2px solid rgb(255, 204, 0);
	background-color: #212127;
	animation: typing 2s steps(17) 0.2s, blinking 1.25s infinite 2s;
	animation-fill-mode: forwards;
}

@keyframes typing {
	100% {
		left: 94%;
		margin: 0 -35px 0 25px;
	}
}
@keyframes blinking {
	from,
	to {
		border-left: none;
	}
	50% {
		border-left: 2px solid rgb(255, 204, 0);
	}
}

.landing--title {
	color: rgb(66, 133, 244);
	text-decoration: underline;
}

.landing--two {
	font-size: 20px;
	justify-self: center;
	align-self: top;
}

#landing img {
	justify-self: center;
	align-self: top;
}

nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.nav--icon {
	color: #fefefe;
	transition: transform 0.5s;
	transform: scale(1.6);
}

.nav--icon:hover {
	color: rgb(255, 204, 0);
	transform: scale(2);
}

.item--left {
	justify-self: right;
	align-self: top;
	padding-right: 150px;
}

.item--right {
	justify-self: left;
	align-self: top;
	padding-left: 150px;
}

.tooltiptext {
	opacity: 0;
	width: 120px;
	background-color: #1b1b1b;
	color: rgb(255, 204, 0);
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	position: absolute;
	z-index: 1;
	bottom: 155px;
	margin-left: -70px;

	transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
	opacity: 1;
}

/* BACK-TO-TOP */
.back-to-top {
	position: fixed;
	right: 0;
	bottom: 0;
	text-align: center;
	width: 25px;
	border: 2px solid rgb(255, 214, 10);
	border-radius: 50%;
	padding: 10px;
	margin: 0 25px 25px 0;
	opacity: 0.3;
	transition: opacity 0.75s;
	z-index: 1;
}

.back-to-top:hover {
	opacity: 1;
}

.back-to-top .nav--icon {
	opacity: 0.3;
	color: rgb(255, 214, 10);
	transition: opacity 0.75s;
	transform: scale(1.4);
	z-index: 1;
}

.back-to-top:hover .nav--icon {
	color: rgb(255, 214, 10);
	opacity: 1;
}
/* ABOUT ME */
#about {
	background-color: white;
	color: #1b1b1b;
}
